*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1{
    color: green;
}

input[type="text"]{
    width: 88px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid yellow;
    border-radius: 4px;
    font-size: 16px;
}